//  PORTFOLIO
.portfolio-content p img {
  max-width: 100%;
  height: auto;
  border: 5px solid white;
}

.portfolio-heading {
  @media #{$small-and-down} {
    font-size: 2.2rem;
  }
}

//  ADMIN
.error {
  padding: 10px;
  margin-bottom: 10px;
}

